@charset "UTF-8";

html {
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  font-family: "Manrope";
  font-style: normal;
  transition: all 0.3s;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

::-moz-selection {
  background: #808080;
}

::selection {
  background: #808080;
}

body {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #fff;
}



.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}


.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top {
  background: #141414;
  padding-top: 11px;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.header__nav {
  display: flex;
}

.menu__link {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.menu__link:hover {
  color: #EB6345;
}

.footer__link:hover,
.footer__phone:hover {
  opacity: 0.6;
}

.menu__link + .menu__link {
  margin-left: 30px;
}

.header__contacts {
  display: flex;
}

.header__mail,
.header__wp {
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.header__wp {
  margin-left: 30px;
  padding: 6px 33px 11px 28px;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 12px;
  transition: all 0.3s;
}

.header__wp:hover {
  border: 2px solid #EB6345;
}

.header__mail p {
  margin-left: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  transition: all 0.3s;
}

.header__mail:hover p {
  color: #EB6345;
}

.header__wp p {
  margin-right: 15px;
  font-size: 14px;
  line-height: 19px;
  color: #EB6345;
}


.mobile__elements{
  display: none;
}



/* ============================= */
/* ============Поиск============= */
/* ============================= */

.header__searching {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}


.modal-ajax-search{
  display: none;
}

.ajax-search__found{
  margin-bottom: 120px;
}


.ajax-search + .ajax-search{
  margin-top: 30px;
}

.ajax-search__undefined,
.ajax-search__text{
  color: #141414;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
}

.ajax-search__text{
  margin-bottom: 50px;
}

.ajax-search__undefined{
  text-align: center;
  margin-bottom: 15px;
}


.ajax-search__undefined span,
.ajax-search__text span {
  color: #EB6345;
}

.ajax-search__details{
  text-align: center;
  margin-bottom: 60px;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #141414;
}

.ajax-search{
  display: flex;
  justify-content: space-between;
}

.header__popup{
  display: inline-block;
  max-width: 100%;

}

.search {
  margin: 0 15px;
  position: relative;
  max-width: 812px;
  width: 100%;
  height: 45px;
  display: flex;
}

.search-input {
  font-family: "Manrope";
  width: 100%;
  border: none;
  background: #F5F5F5;
  border-radius: 12px 0px 0px 12px;
  color: #A4A4A4;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  padding-left: 40px;
}

.search-input:focus {
  background: #FFF2EF;
  color: #5A2418;
  outline: none;
}

.search-btn {
  font-family: "Manrope";
  background: #EB6345;
  padding: 12px 26px 12px 20px;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
}

/* ============================= */
/* ========================= */
/* ============================= */


.popup-check {
  min-width: 175px;
  font-family: "Manrope";
  background: #141414;
  padding: 13px 30.5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;
}

.popup-check:hover {
  background: #EB6345;
}

.header__catalog {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__catalog-path{
  margin-bottom: 30px;
}

.catalog__item + .catalog__item {
  margin-left: 25px;
}

.catalog {
  display: flex;
}

.catalog__item {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #141414;
  background: #F5F5F5;
  padding: 12px 34px;
  border-radius: 8px;
}

.catalog__link {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #141414;
}

.catalog__item:hover {
  background: #9f9f9f;
}

.menu-nav {
  display: flex;
  align-items: center;
  padding: 0px 34px;
  transition: all 0.3s;
}

.mobile-nav{
  display: none;
}

.mobile-nav-button,
.menu-nav-button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;
  display: flex;
  position: relative;
  z-index: 999;

  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.menu-nav-button{
  width: 15px;
  height: 30px;
}

.mobile-nav-button{
  width: 24px;
  height: 20px;
}

.menu-nav-button__icon {
  display: block;
  position: relative;
  width: 15px;
  height: 2px;
  background-color: #141414;
}

.mobile-nav-button__icon{
  display: block;
  position: relative;
  width: 24px;
  height: 2px;
  background-color: #EB6345;
}

.menu-nav-button__icon::after,
.menu-nav-button__icon::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #141414;
}

.mobile-nav-button__icon::after,
.mobile-nav-button__icon::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 2px;
  background-color: #EB6345;
}

.menu-nav-button__icon::before {
  left: 0;
  top: -5px;
}

.mobile-nav-button__icon::before{
  left: 0;
  top: -7px;
}

.menu-nav-button__icon::after {
  left: 0;
  top: 5px;
}

.mobile-nav-button__icon::after{
  left: 0;
  top: 7px;
}

.menu-nav-button__icon.active {
  background-color: transparent;
}

.catalog__cart,
.favorite,
.cart {
  display: flex;
  align-items: center;
}

.favorite {
  margin-right: 40px;
}

.favorite p,
.cart p {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #5A2418;
  padding-left: 15px;
  transition: all 0.3s;
}

.favorite:hover p {
  color: #EB6345;
}

.cart:hover p {
  color: #EB6345;
}

.header__sales {
  margin-bottom: 60px;
}

.header__sales-block {
  overflow: hidden;
  display: flex;
  background: url(../img/slider-sales.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 12px;
  height: 424px;
}


.header__sales .slick-slide {
  border-radius: 12px;
}

.header__sales {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  transition: all 0.3s;
}

.header__sales .slick-active {
  background: #fff;
}

.header__sales .slick-dots li {
  width: 43px;
  height: 5px;
  margin-right: 12px;
  border-radius: 12px;
  cursor: pointer;
}

.slick-dots li::before{
  position: absolute;
  content: '';
  display: block;
  background: transparent;
  top: -10px;
  height: 25px;
  width: 43px;
}

.header__sales .slick-dots li button {
  width: 43px;
  height: 5px;
  margin-right: 12px;
  border-radius: 12px;
  background: #fff;
  opacity: 0.3;
  cursor: pointer;
}

.header__sales .slick-dots {
  display: flex;
  position: absolute;
  bottom: 9%;
  left: 9%;
  font-size: 0;
}

.sales__bottom {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 12px;
}

.sales-block__image {
  display: flex;
  position: relative;
  max-width: 1014px;
  margin-left: auto;
}

.sales__img {
  border-radius: 12px;
  height: 100%;
}

.sales__vector {
  position: absolute;
  top: 0;
  left: -28%;
}

.sales__link {
  display: block;
  height: 100%;
  width: 100%;
  background: #EB6345;
}

.sales-block__info {
  position: relative;
  z-index: 2;
  padding: 53px 0 0 109px;
}

.sales__date {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background: #141414;
  color: #fff;
  padding: 6px 20px;
  border-radius: 100px;
  margin-bottom: 30px;
  word-spacing: 2px;
}

.sales__date span {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.sales__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #141414;
}

.sales__title {
  font-size: 57px;
  line-height: 78px;
  color: #141414;
}

.categories {
  margin-bottom: 120px;
}

.categories__title {
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  color: #141414;
  margin-bottom: 50px;
}

.products__categories {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #BDBDBD;
  padding-bottom: 15px;
  margin-bottom: 70px;
}

.products__categories-btn {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  line-height: 25px;
  color: #5B5B5B;
  transition: all 0.3s;
}

.products__categories-btn:hover {
  opacity: 0.8;
}

.active {
  color: #EB6345;
}

.active:after {
  display: block;
  position: absolute;
  top: 39px;
  content: "";
  height: 3px;
  width: 100%;
  background: #EB6345;
}

.categories__blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (350px)[3];
  grid-template-rows: repeat(3, 350px);
  grid-gap: 30px;
}

.categories__block {
  position: relative;
  background: url(../img/cat-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 15px;
}

.categories__block:hover .categories__img {
  opacity: 0.8;
}

.categories__block:hover .categories__text {
  opacity: 0.7;
}

.categories__img {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: -31px;
  transition: all 0.3s;
}

.categories__block:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}

.categories__block:nth-child(2) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5/8;
}

.categories__block:nth-child(3) {
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8/13;
}

.categories__block:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.categories__block:nth-child(5) {
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.categories__block:nth-child(6) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 3;
  grid-row: 3/3;
}

.categories__block:nth-child(7) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-column: 5/10;
  -ms-grid-row: 3;
  grid-row: 3/3;
}

.categories__block:nth-child(8) {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10/13;
  -ms-grid-row: 3;
  grid-row: 3/3;
}

.categories__text {
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 190px;
  transition: all 0.3s;
}

.categories__info {
  padding: 41px 0 40px 40px;
  position: relative;
  z-index: 5;
}

.categories__link img {
  padding: 21px 12px 21px 13px;
  background: #EB6345;
  border-radius: 6px;
}

.products {
  margin-bottom: 120px;
}

.sections {
  margin-bottom: 30px;
  display: flex;
}

.sections-block + .sections-block {
  margin-left: 20px;
}

.sections-block {
  cursor: pointer;
  font-size: 22px;
  line-height: 30px;
  color: #141414;
  padding: 15px 40px;
  border-radius: 12px;
  background: #F5F5F5;
  transition: all 0.3s;
}

.sections-block:hover {
  opacity: 0.7;
}

.sections-sales {
  color: #fff;
  background: #141414;
}

.product__block {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  max-width: 407px;
  transition: all 0.3s;
  opacity: 0;

}

.product__block-favorite,
.product__block-catalog,
.product__block-search{
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  max-width: 297px;
  transition: all 0.3s;
}

.product__block:hover {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.18);
}

.products__block-content {
  padding: 25px 44px 44px 44px;
}

.products__block-favorite,
.products__block-search{
  padding: 25px 28px 44px 28px;
}

.products__product {
  font-size: 18px;
  line-height: 25px;
  color: #141414;
  margin-bottom: 25px;
}

.products__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #5A5A5A;
  margin-bottom: 15px;
}

.products__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 16px;
  line-height: 22px;
  text-decoration: line-through;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #AEAEAE;
  margin-bottom: 5px;
}

.new-price {
  font-size: 18px;
  line-height: 25px;
  color: #141414;
}

.block-cart {
  cursor: pointer;
}

.block-cart p {
  font-size: 14px;
  padding-left: 10px;
  line-height: 19px;
  color: #EB6345;
}

.checked-cart {
  display: none;
}

.checked-cart p {
  color: #2E9E1C;
}

.checked-cart p:hover {
  color: #2E9E1C;
}

.company {
  background: url(../img/company-bg.svg);
  padding: 120px 0 346px 0;
}

.company__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.company__about {
  max-width: 490px;
  padding-right: 25px;
}

.company__title {
  font-size: 38px;
  line-height: 52px;
  margin-bottom: 50px;
}

.company__statistic {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.statistic__num {
  font-size: 38px;
  line-height: 52px;
  color: #EB6345;
  margin-bottom: 10px;
}

.statistic__text {
  font-size: 18px;
  line-height: 25px;
  color: #EB6345;
}

.company__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.company__img {
  max-width: 100%;
  border-radius: 22px;

}

.delivery {
  margin-top: -230px;
  margin-bottom: 120px;
}

.delivery__inner {
  background: #FFF2EF;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.delivery__content {
  max-width: 495px;
}

.delivery__about {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  background: #5A2418;
  border-radius: 100px;
  padding: 6px 20px;
  margin-bottom: 25px;
}

.delivery__title {
  font-size: 38px;
  line-height: 52px;
  color: #2E120B;
  margin-bottom: 15px;
}

.delivery__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2E120B;
  margin-bottom: 40px;
}

.delivery-wp {
  background: transparent;
  padding: 17px 35px;
  font-size: 18px;
  line-height: 25px;
  border-radius: 10px;
  border: 1px solid #EB6345;
  color: #EB6345;
  transition: all 0.3s;
}

.delivery-wp:hover {
  background: #fff;
}

.reviews {
  margin-bottom: 120px;
}

.reviews__title {
  font-size: 38px;
  line-height: 52px;
  color: #141414;
  margin-bottom: 50px;
}

.reviews__block {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  max-width: 407px;
  opacity: 0;
  transition: all 0.3s;
}

.reviews__block-pic {
  position: relative;
  height: 280px;
  overflow: hidden;
  border-radius: 30px 30px 0 0;
}

.favorite__block-favorite,
.search__block-pic{
  position: relative;
  height: 210px;
  overflow: hidden;
  border-radius: 30px 30px 0 0;
}

.reviews__block-content {
  padding: 40px 54px 75px 54px;
}

.reviews__city {
  font-size: 22px;
  line-height: 30px;
  color: #EB6345;
  margin-bottom: 5px;
}

.reviews__name {
  font-size: 18px;
  line-height: 25px;
  color: #B8B8B8;
  margin-bottom: 15px;
}

.reviews__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #141414;
}

.reviews__blocks .slick-slide,
.products__blocks .slick-slide {
  margin: 0 15px;
}

.reviews__blocks .slick-slide {
  min-height: 580px;
}

.reviews__blocks .slick-list,
.products__blocks .slick-list {
  overflow: visible;
}

.slick-active {
  opacity: 1;
  transition: all 0.3s;
}

.products__slider-arrows,
.slider-arrows {
  position: relative;
}

.products__prev,
.products__next,
.prev,
.next {
  position: absolute;
  z-index: 100;
  padding: 23px 17px;
  cursor: pointer;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  transition: all 0.3s;
}

.products__prev:hover,
.products__next:hover,
.prev:hover,
.next:hover {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.18);
}

.products__prev,
.prev {
  left: -90px;
  top: 260px;
}

.products__next,
.next {
  left: 102.5%;
  top: 260px;
}

.details {
  position: absolute;
  z-index: 100;
  top: 13%;
  left: 0;
}

.cart__search-details{
  position: absolute;
  z-index: 100;
  top: 0%;
  left: 0;
}
.favorite-details,
.search-details{
  position: absolute;
  z-index: 100;
  top: 15%;
  left: 0;
}

.details-favorite {
  cursor: pointer;
  position: absolute;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 17px 19px 17px 19px;
  left: 320px;
  top: -50%;
  transition: all 0.3s;
}


.search-favorite{
  padding: 11px 13px 11px 13px;
  left: 230px;
  top: -30%;
}

.reviews__block-img{
width: 100%;
}

.details-favorite:hover {
  background: #FFF2EF;
  border: 1px solid #EB6345;
}


.details-favorite:active .details-img {
  fill: #EB6345;
  stroke: #EB6345;
}

.details-top,
.details-new,
.details-discount {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  padding: 5px 15px;
  border-radius: 0px 4px 4px 0px;
}

.details-discount {
  background: #CD2626;
}

.details-new {
  background: #2E9E1C;
}

.details-top {
  background: #F7C84F;
}

.details-top,
.details-new {
  display: none;
}

.consultation {
  background: url(../img/consultation-bg.svg);
}

.consultation__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.consultation__info {
  max-width: 505px;
}

.consultation__title {
  font-size: 38px;
  line-height: 52px;
  margin-bottom: 15px;
}

.consultation__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 45px;
}

.consultation-img{
  max-width: 100%;
}

.consultation__bottoms {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.consultation-popup {
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  line-height: 25px;
  padding: 17px 40px;
  border: 1px solid #EB6345;
  background: #EB6345;
  cursor: pointer;
  transition: all 0.3s;
}

.consultation-popup:hover {
  color: #EB6345;
  background: transparent;
}

.wp {
  padding: 17px 35px;
  font-size: 18px;
  line-height: 25px;
  color: #EB6345;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 10px;
  transition: all 0.3s;
}

.wp:hover {
  border-color: #EB6345;
  background: transparent;
}

.footer {
  background: #FFF2EF;
  padding: 100px 0 105px 0;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  margin-bottom: 25px;
}

.footer__law {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #5A2418;
  margin-bottom: 15px;
}

.privacy {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #5A2418;
}

.footer__options,
.footer__content,
.footer__about {
  display: flex;
  justify-content: space-between;
}

.footer__options{
  max-width: 900px;
  width: 100%;
}

.footer__contacts {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.footer__block + .footer__block {
  margin-left: 111px;
}

.footer__title {
  font-size: 26px;
  line-height: 36px;
  color: #5A2418;
  margin-bottom: 20px;
}

.footer__item {
  list-style: none;
}

.footer__item + .footer__item {
  margin-top: 10px;
}

.footer__link {
  font-size: 18px;
  line-height: 25px;
  color: rgba(90, 36, 24, 0.7);
}

.footer__mail {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 16px;
}

.footer__mail p {
  margin-left: 17px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #5A2418;
  transition: all 0.3s;
}

.footer__mail p:hover {
  opacity: 0.6;
}

.footer__phone {
  font-size: 26px;
  line-height: 36px;
  color: #5A2418;
  margin-bottom: 45px;
  display: flex;
  justify-content: end;
}

.footer-popup {
  margin-left: auto;
  margin-bottom: 15px;
}

.footer-wp {
  background: inherit;
  border: 1px solid #EB6345;
  border-radius: 10px;
  margin-bottom: 50px;
  transition: all;
  transition: all 0.3s;
}

.footer-wp:hover {
  background: #fff;
}

.popup {
  position: fixed;
  overflow: hidden;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__container {
  border-radius: 20px;
  background: #fff;
  max-width: 735px;
  margin: 25vh auto;
}

.popup__inner {
  position: relative;
  padding: 76px 99px 99px 99px;
}

.close {
  position: absolute;
  right: 40px;
  top: 40px;
}

.popup__text {
  font-size: 38px;
  line-height: 52px;
  color: #141414;
  margin-bottom: 50px;
  text-align: center;
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.ordering-form,
.form__name,
.form__phone {
  border: none;
  padding: 21px 60px 21px 33px;
  border-radius: 10px;
  background: #F5F5F5;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.form__name::-moz-placeholder, .form__phone::-moz-placeholder {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #BCBCBC;
}

.form__name:-ms-input-placeholder, .form__phone:-ms-input-placeholder {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #BCBCBC;
}

.form__name::placeholder,
.form__phone::placeholder {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #BCBCBC;
}

.form__name {
  margin-bottom: 30px;
}

.form__phone {
  margin-bottom: 50px;
}

.form__name:valid:not(:-moz-placeholder-shown), .form__phone:valid:not(:-moz-placeholder-shown) {
  color: #EB6345;
  background: url(../img/check.svg);
  background-color: #F5F5F5;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 490px 25px;
}

.form__name:valid:not(:-ms-input-placeholder), .form__phone:valid:not(:-ms-input-placeholder) {
  color: #EB6345;
  background: url(../img/check.svg);
  background-color: #F5F5F5;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 490px 25px;
}

.form__name:valid:not(:placeholder-shown),
.form__phone:valid:not(:placeholder-shown) {
  color: #EB6345;
  background: url(../img/check.svg);
  background-color: #F5F5F5;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 490px 25px;
}

.form__submit {
  cursor: pointer;
  padding: 17px 34px;
  max-width: 216px;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 25px;
  background: #EB6345;
  border-radius: 10px;
  border: 1px solid #fff;
  transition: all 0.3s;
  margin-bottom: 20px;
}

.form__submit:hover {
  background: #fff;
  border-color: #EB6345;
  color: #EB6345;
}

.form__check {
  position: absolute;
  z-index: -10;
  opacity: 0;
}

.form__check-label::before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #adb5bd;
  border-radius: 0.25em;
}

.form__check:checked + label::before {
  background: url(../img/check-square.svg);
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
}

.form__check:not(:disabled):not(:checked) + label:hover::before {
  border-color: #EB6345;
}

/* стили для активного состояния чекбокса (при нажатии на него) */

.form__check:not(:disabled):active + label::before {
  background-color: #EB6345;
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */

.form__check:focus:not(:checked) + label::before {
  border-color: #EB6345;
}

.form__offert {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__text {
  text-align: center;
  max-width: 248px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: rgba(90, 36, 24, 0.5);
}

.form__text a {
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  color: #5A2418;
}


/* Страница Каталог */

.pages-path{
  margin-bottom: 40px;
}

.pages-path__inner{
  display: flex;
  align-items: center;
}


.pages__last-page,
.pages__this-page{
  font-size: 18px;
  line-height: 25px;
  color: #141414;
}

.pages__path{
  margin: 0 20px;
}

.pages__last-page,
.pages__home{
  transition: all 0.3s;
}

.pages__last-page:hover,
.pages__home:hover{
  opacity: 0.7;
}

.catalog__block{
  margin-bottom: 120px;
}

.catalog__block-left{
  width: 301px;
}

.product__block-catalog + .product__block-catalog{
  margin-left: 30px;
}


.catalog__block-items{
  display: flex;
}

.catalog__block-items + .catalog__block-items{
  margin-top: 30px;
}

.catalog__block-inner{
  display: flex;
  justify-content: space-between;
}

.catalog__block-title{
  font-size: 38px;
line-height: 52px;
color: #141414;
margin-bottom: 30px;
}

.catalog__block-delete{
  margin-bottom: 25px;
}

.block__delete-all{
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.block__delete-all p {
  font-size: 18px;
line-height: 25px;
color: #141414;
}


.block-info__left:hover,
.price-reset:hover,
.block__delete-item button,
.block__delete-all button{
  transition: all 0.3s;
  cursor: pointer;
}

.block-info__left:hover,
.price-reset:hover,
.block__delete-item button:hover,
.block__delete-all button:hover{
  opacity: 0.7;
}

.block__delete-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block__delete-item + .block__delete-item{
  margin-top: 11px;
}

.block__delete-item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #5B5B5B;
}

.block-right__price{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.block-right__price p {
  font-size: 18px;
  line-height: 25px;
  color: #141414;
  margin-right: 15px;
}

.catalog__block-size{
  margin-bottom: 25px;
}

.catalog__block-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.block-info__left{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.block-info__left p {
  font-size: 18px;
  line-height: 25px;
  color: #141414;
  margin-right: 15px;

}

.price-input{
  display: flex;
  align-items: center;
}

.field {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.field span {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #5B5B5B;
  margin-right: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

.input-min{
  max-width: 75px;
}
.input-max{
  max-width: 100px;
}
.input-min,
.input-max{
  width: 100%;
padding: 8px 20px;
background: #F5F5F5;
border-radius: 100px;
outline: none;
border: none;
}

.favorite__found{
  margin-bottom: 120px;
}

.catalog__block-price{
  margin-bottom: 25px;
}

.recommendations__items,
.favorite__items{
  display: flex;
  justify-content: space-between;
}

.recommendations__items + .recommendations__items,
.favorite__items + .favorite__items {
  margin-top: 30px;
}

.favorite__title{
  text-align: left;
  font-size: 38px;
  line-height: 52px;
  color: #141414;
  margin-bottom: 50px;
}

.catalog__filter{
  display: flex;
  flex-wrap: wrap;
}


.checkbox-brand,
.checkbox-type,
.checkbox-size {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #141414;
  background: #F5F5F5;
  border-radius: 100px;
  max-width: 95px;
  cursor: pointer;
}

.checkbox-type{
  padding: 8px 18px;
}
.checkbox-size{
  padding: 8px 23px;
}

.checkbox-brand{
  padding: 8px 25px;
}

.checkbox-item{
  display: inline-block;
}


.checkbox-type,
.checkbox-size{
  cursor: pointer;
}

.catalog__filter + .catalog__filter {
  margin-top: 25px;
}

.checkbox-item + .checkbox-item{
  margin-left: 5px;
}




.checking{
  display: none;
}


.checking:checked + label{
  background: #FFF2EF;
  color: #5A2418;
}


/* ==================================*/
/* contacts */
/* ================================= */

.contacts{
  margin-bottom: 120px;
}

.contacts__title{
  font-size: 38px;
  line-height: 52px;
  color: #141414;
  margin-bottom: 50px;
}

.adress{
  display: flex;
}

.adress + .adress{
  margin-top: 30px;
}

.contact-adress{
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  width: 407px;
}

.contact-adress + .contact-adress{
  margin-left: 30px;
}

.contact-adress__inner{
  padding: 45px 43px;
}

.adress__city{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.adress__city p{
  font-size: 26px;
  line-height: 36px;
  color: #000000;
  margin-left: 15px;
}

.adress__info{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #5B5B5B;
  margin-bottom: 15px;
}

.adress__street{
  font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #141414;
margin-bottom: 15px;
}

.adress__time{
  display: flex;
  align-items: center;
}

.adress__time p {
  font-weight: 400;
font-size: 15px;
line-height: 20px;
color: #5B5B5B;
margin-left: 15px;

}



/* ============================ */
/* =========refund============= */
/* ============================ */

.refund__title{
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  color: #141414;
  margin-bottom: 50px;
  padding-left: 109px;
}

.refund__checking{
  background: #FFF2EF;
  border-radius: 20px;
  margin-bottom: 50px;
}

.refund__checking-inner{
  padding: 50px 109px 50px 109px;
}

.refund__checking-title{
  font-size: 26px;
line-height: 36px;
color: #EB6345;
margin-bottom: 15px;
}



.refund__checking-text+.refund__checking-text{
  margin-top: 15px;
}

.refund__ways-text + .refund__ways-text{
  margin-top: 10px;
}

.refund__checking-text{
  font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #5A2418
}

.refund__ways{
  padding-left: 109px;
  margin-bottom: 175px;
}

.refund__ways-title{
  font-size: 26px;
line-height: 36px;
color: #141414;
margin-bottom: 15px;
}

.refund__ways-text{
  font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #141414;
}

.refund__ways-inner{
  max-width: 1062px;
}



/* ====guarantee==== */
/* ================== */
/* =================== */

.guarantee{
  margin-bottom: 120px;
}

.guarantee__ways {
  padding-left: 109px;
}

.guarantee__ways-title{
  font-size: 38px;
line-height: 52px;
color: #141414;
margin-bottom: 50px;
}

.guarantee__ways-inner + .guarantee__ways-inner {
  margin-top: 30px;
}


.guarantee__ways-about{
  font-weight: 600;
font-size: 26px;
line-height: 36px;
color: #141414;
margin-bottom: 15px;
}

.guarantee__ways-text + .guarantee__ways-text{
  margin-top: 17px;
}

.guarantee__ways-text{
  font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #141414;
}



/* ======================= */
/* ======steps============= */


.steps__title{
  padding-left: 109px;
  font-size: 38px;
line-height: 52px;
color: #141414;
margin-bottom: 50px;
}

.steps__info{
  padding-left: 109px;
}
.steps__block{
  margin-bottom: 120px;
}

.steps__step-page{
margin-bottom: 40px;
font-weight: 600;
font-size: 18px;
line-height: 25px;
color: #5B5B5B;
}

.steps__step{
  font-weight: 600;
font-size: 26px;
line-height: 36px;
color: #141414;
  margin-bottom: 25px;
}

.steps__step span {
  color: #EB6345;
  margin-right: 30px;
}

.steps__step-description{
  font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #141414;
margin-bottom: 25px;
max-width: 1062px;
}

.steps__step-img{
  margin-bottom: 40px;
}



/*====================== cart========================== */
/* ==================================================== */


.cart__text{
  position: relative;
font-size: 38px;
line-height: 52px;
color: #141414;
margin-bottom: 50px;
}

.cart__text span{
  position: absolute;
  top: 0;
  left: 175px;
  font-size: 18px;
  line-height: 25px;
  color: #5B5B5B;
}

.cart__inner{
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 142px;
}



.cart__items-left{
  max-width: 843px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.04);
  border-radius: 15px;
}

.cart__items-right{
  max-width: 407px;
  width: 100%;
}

.cart__result{
  margin-bottom: 30px;
}
.cart__result,
.cart__ordering{
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.04);
  border-radius: 15px;
}


.cart__result-items,
.cart__item,
.cart__ordering-items{
  padding: 45px;
}


.cart__item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.cart__item:nth-last-child(n+2){
  padding: 0 45px;
}


.cart__item:nth-child(1){
  padding-top: 45px;
}


.cart__item:nth-last-child(1){
  padding-top: 0px;
}
.cart__item:nth-last-child(n+2) .cart__item-content{
  border-bottom: 1px solid #F5F5F5;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.cart__item-pic{
  position: relative;
  max-width: 125px;
  height: 130px;
  overflow: hidden;
  border-radius: 6px;
  margin-right: 25px;
}

.cart__item-pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart__item-delete + .cart__item-price{
  margin-top: 30px;
}

.cart__info-product{
  font-size: 22px;
line-height: 30px;
color: #141414;
margin-bottom: 20px;
transition: all 0.3s;
}

.cart__info-product:hover {
  color:#EB6345;
}

.cart__item-info{
  display: flex;
}

.cart__info-size,
.cart__info-color{
  font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #5B5B5B;
}
.cart__info-color{
  margin-bottom: 7px;
}

.product__quantity,
.cart__quantity{
  display: inline-block;
  background: #FFF2EF;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 9px 11px;
}

.minus-btn{
  margin-right: 19px;
  cursor: pointer;
}
.plus-btn{
  cursor: pointer;
}

.cart__amount{
  font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #5A2418;
margin-right: 16px;
}

.cart__item-count{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart__item-delete{
  margin-bottom: 40px;
  cursor: pointer;
}


.cart__item-discount{
  font-size: 18px;
line-height: 25px;
text-align: right;
text-decoration-line: line-through;
color: #AEAEAE;
margin-bottom: 6px;
}

.cart__item-price{
  font-size: 22px;
line-height: 30px;
text-align: right;
color: #141414;
}

.cart__result-main{
  font-weight: 600;
font-size: 26px;
line-height: 36px;
text-align: right;
color: #141414;
}


.cart__result-item{
display: flex;
justify-content: space-between;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #5B5B5B;
}

.cart__result-item + .cart__result-item{
  margin-top: 13px;
}

.cart__result-offering{
  text-align: center;
  width: 100%;
  cursor: pointer;
  margin-top: 30px;
  padding: 18px 0px;
  background: #EB6345;
  border-radius: 10px;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  transition: all 0.3s;
}

.cart__ordering-wp:hover,
.cart__result-offering:hover{
  opacity: 0.7;
}


.cart__ordering-main{
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  color: #141414;
  margin-bottom: 13px;
}

.cart__ordering-info{
  font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #5B5B5B;
margin-bottom: 30px;
}

.cart__ordering-wp{
  text-align: center;
  width: 100%;
  cursor: pointer;
  margin-top: 30px;
  padding: 18px 0px;
  background: transparent;
  border-radius: 10px;
  font-size: 18px;
  line-height: 25px;
  color: #EB6345;
  border: 1px solid #EB6345;
  transition: all 0.3s;
}

.cart-block{
  display: flex;
  justify-content: space-between;
}

.slider__text{
  font-size: 38px;
line-height: 52px;
color: #141414;
margin-bottom: 50px;
}

.cart-page__slider{
  margin-bottom: 120px;
}



/* ==================== */
/* =======ordering======= */

.ordering{
  margin-top: 50px;
  margin-bottom: 120px;
}

.ordering-header{
  padding: 6px 0;
}

.ordering-title{
  font-size: 38px;
line-height: 52px;
color: #141414;
margin-bottom: 50px;
}

.ordering-left{
  width: 550px;
}


.ordering__sections{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.ordering__step-two,
.ordering__step-one{
  margin-bottom: 40px;
}


.ordering__text{
  font-weight: 600;
font-size: 26px;
line-height: 36px;
color: #141414;
margin-bottom: 25px;
}

.ordering__text span{
  color: #EB6345;
  margin-right: 30px;
}

.ordering__payment,
.ordering__delivery{
  display: flex;

}

.ordering__delivery-block{
  max-width: 500px;
  width: 100%;
}

.ordering__delivery-block + .ordering__delivery-block{
  margin-left: 25px;
}

.ordering-label{
  cursor: pointer;
  background: #F5F5F5;
  border-radius: 6px;
  padding: 32px 15px 32px 25px;
  display: flex;
  align-items: center;
  color: #5B5B5B;
  transition: all 0.1s;
}

.ordering-label:hover{
  opacity: 0.7;
}

.ordering-label__info{
  margin-left: 20px;
}

.ordering-label__type{
  margin-bottom: 6px;
  font-size: 18px;
line-height: 25px;

}

.ordering-label__adress{
  font-weight: 400;
font-size: 16px;
line-height: 22px;
}

.ordering-input{
display: none;
}

.ordering-label svg{
  stroke: #5B5B5B;
  transition: all 0.1s;

}

.ordering-input:checked + label{
  background: #FFF2EF;
  color: #5A2418;
}
.ordering-input:checked + label svg{
  stroke: #5A2418;
}

.ordering-input:checked + .payment-svg svg{
  fill: #5A2418;
  stroke: none;
}

.payment-svg svg{
  transition: all 0.1s;
  stroke: none;
  fill:#5B5B5B;
}




.ordering__form{
  display: flex;
  flex-direction: column;
  max-width: 538px;
  width: 100%;
}

.ordering-form + .ordering-form{
  margin-top: 15px;
}

.ordering-form:valid:not(:-moz-placeholder-shown) {
  color: #EB6345;
  background: url(../img/check.svg);
  background-color: #F5F5F5;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 490px 25px;
}

.ordering-form:valid:not(:-ms-input-placeholder) {
  color: #EB6345;
  background: url(../img/check.svg);
  background-color: #F5F5F5;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 490px 25px;
}

.ordering-form:valid:not(:placeholder-shown){
  color: #EB6345;
  background: url(../img/check.svg);
  background-color: #F5F5F5;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 490px 25px;
}


.ordering-form::placeholder,
.ordering-form::placeholder {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #BCBCBC;
}



.ordering__payment-block{
  max-width: 220px;
  width: 100%;
}

.ordering__payment-block + .ordering__payment-block{
  margin-left: 25px;
}

.payment-label__type{
  margin-bottom: 0;
  font-size: 18px;
line-height: 25px;
}

.ordering-right__about{
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.ordering-right__about p{
  font-size: 26px;
line-height: 36px;
color: #141414;
}

.ordering__change{
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.ordering__change:hover{
  opacity: 0.7;
}

.ordering__change p {
  font-size: 18px;
line-height: 25px;
color: #EB6345;
margin-right: 25px;
}

.ordering-right{
  max-width: 625px;
  width: 100%;
}

.ordering__amount{
  font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #5B5B5B;
}

.ordering__item-price{
  font-weight: 600;
font-size: 22px;
line-height: 30px;
color: #5B5B5B;
}

.ordering__items{
  border-bottom: 1px solid #D4D4D4;
  padding-bottom: 25px;
  margin-bottom: 25px;
}



.ordering__item + .ordering__item {
  margin-top: 25px;
}

.ordering__costs{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.ordering__costs p {
font-size: 26px;
line-height: 36px;
color: #141414;
}

.ordering-submit{
  width: 100%;
  background: #EB6345;
border-radius: 10px;
color: #FFFFFF;
font-weight: 600;
font-size: 18px;
line-height: 25px;
padding: 18px 0;
cursor: pointer;
border: 1px solid #EB6345;
transition: all 0.3s;
}

.ordering-submit:hover {
  background: transparent;
  color: #EB6345;
}



/* product-page */
/* ================== */
/* ================== */


.product__inner{
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}

.product-left{
  max-width: 625px;
}

.product-right{
  max-width: 570px;
}

.product__items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 30px;
  margin-bottom: 40px;
}

.product__item:nth-child(1) {
grid-column: 1/3;
}

.product__item:nth-child(2) {
  grid-column: 1/3;
  grid-row: 2/3;
  }

  .product__item:nth-child(3) {
    grid-column: 1/3;
    grid-row: 3/4;
    }

.product__item:nth-child(4) {
      grid-column: 1/2;
      grid-row: 4/5;
      }

.product__item:nth-child(5) {
  grid-column: 2/3;
  grid-row: 4/5;
}

.product__item-btn{
  cursor: pointer;
  font-size: 18px;
line-height: 25px;
color: #5A2418;
background: #FFF2EF;
border-radius: 10px;
padding: 18px 35px;
display: block;
margin: 0 auto;
margin-bottom: 40px;
transition: all 0.3s;
}

.product__item-btn:hover{
  opacity: 0.7;
}

.product__item-main{
  font-size: 26px;
line-height: 36px;
color: #141414;
margin-bottom: 20px;
}

.product__item-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #141414;
  margin-bottom: 15px;
}

.product__list-inner + .product__list-inner{
  margin-top: 12px;
}

.product__list-inner{
  display: flex;
  align-items: center;
}

.product__list-inner img{
  margin-right: 15px;
}
.product__list-inner p{
  font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #141414
}

.product{
  margin-bottom: 120px;
}

.quantity{
  display: inline-block;
  margin-bottom: 30px;
}

.product__size{
  margin-bottom: 30px;
}

.product__size p{
  font-size: 18px;
  line-height: 25px;
  color: #141414;
  margin-bottom: 20px;
}

.product__checkbox-item input{
display: none;
}

.product__checkbox{
  display: flex;
}

.product__checkbox + .product__checkbox{
margin-top: 10px;
}

.product__checkbox-item + .product__checkbox-item{
  margin-left: 10px;
}

.product__checkbox-item label{
  display: block;
  cursor: pointer;
  background: #F5F5F5;
  color: #141414;
  font-weight: 400;
font-size: 14px;
line-height: 19px;
border-radius: 100px;
padding: 8px 28px;
}

.product__checkbox-item input:checked + label{
  background: #5B5B5B;
  color: #FFFFFF;
}

.product__palette{
  margin-bottom: 30px;
}

.product__palette-info {
  margin-bottom: 20px;
  font-size: 18px;
line-height: 25px;
color: #141414;
}

.palette__checkbox{
  display: flex;
  margin-bottom: 15px;
}

.palette__item + .palette__item{
  margin-left: 19px;
}

.palette__item input{
  display: none;

}

.palette__item label{
  display: block;
  border-radius: 0px;
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 100px;
  cursor: pointer;
}

.palette__item input:checked + label {
  outline: 8px solid #5B5B5B;
}

.product-name{
  font-size: 38px;
line-height: 52px;
color: #141414;
margin-bottom: 15px;
}

.product-name__info{
  font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #5B5B5B;
margin-bottom: 30px;
}

.product__ordering{
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.product__price-before{
  font-size: 18px;
line-height: 25px;
text-decoration-line: line-through;
color: #AEAEAE;
}

.product__price-new{
  font-size: 22px;
line-height: 30px;
text-align: right;
color: #141414;
}

.product__price-discount{
  position: absolute;
  top: 50%;
  left: 113px;
  transform: translate(0,-50%);
  font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
padding: 5px 15px;
background: #CD2626;
border-radius: 0px 4px 4px 0px;
}

.product__ordering-item + .product__ordering-item{
  margin-top: 10px;
}

.product__ordering-item{
  font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #5B5B5B;
display: flex;
align-items: center;
}

.product__ordering-item img {
  margin-right: 15px;
}

.palette-color{
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
color: #5B5B5B;
}

.product__buy{
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__buy-cart{
  background: #EB6345;
border-radius: 10px;
padding: 16px 56px;
display: flex;
align-items: center;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
}

.product__buy-cart img{
  margin-right: 10px;
}

.product__buy button{
  cursor: pointer;
  transition: all 0.3s;
}

.product__buy button:hover{
  opacity: 0.7;
}

.product__buy-now{
  border: 1px solid #EB6345;
border-radius: 10px;
padding: 18px 35px;
font-size: 18px;
line-height: 25px;
color: #EB6345;
}

.product__buy-favorite{
  background: #FFF2EF;
border-radius: 10px;
padding: 14px 35px;
}

.product__links-block{
  display: flex;
  flex-direction: column;
}

.product__link+ .product__link{
  margin-top: 20px;
}

.product__link {
  display: flex;
  align-items: center;
  font-size: 18px;
line-height: 25px;
color: #141414;
transition: all 0.3s;
}

.product__link:hover{
  opacity: 0.7;
}

.product__link img {
  margin-left: 25px;
}

.recommendations__about{
  font-size: 38px;
line-height: 52px;
color: #141414;
margin-bottom: 50px;
}

.recommendations__items{
  margin-bottom: 120px;
}


/* ===================== */
/* ====================== */
/* ======Адаптив========= */


@media(max-width:1024px){
  .menu__link + .menu__link {
    margin-left: 20px;
}

.sales-block__info { 
  padding: 30px 40px 0 40px;
}

.company__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company__about {
  max-width: 720px;
  padding-right: 25px;
  padding: 0;
  margin-bottom: 40px;
}

.company__title {
  text-align: center;
  margin-bottom: 30px;
}
}

@media(max-width:991px){
  .container{
    padding: 0 25px;
  }
.header__popup,
.popup-check,
.header__top,
.header__catalog,
.search{
  display: none;
}
.mobile__elements{
  display: flex;
}

.header__sales .slick-slide {
  border-radius: 15px;
}

.header__searching{
  padding: 30px 0;
}

.mobile-nav{
  display: flex;
}

.mobile__elements{
  display: flex;
  align-items: center;
}

.mobile__element + .mobile__element {
  margin-left: 20px;
}

.logo__link{
  max-width: 100%;
  margin: 0 auto;
}

.sales__vector,
.sales__bottom{
  display: none;
  opacity: 0;
  height: 0;
  width: 0;
}

.sales-block__info{
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: space-between;
}

.header__sales-block {
  display: flex;
  flex-direction: column;
  height: 600px;
}

.header__sales {
  margin-bottom: 120px;
}



.sales__title{
  max-width: 220px;
  margin-bottom: 30px;
}
.sales-block__image{
  display: contents;
  max-width: 991px;
}

.sales__img{
  width: 100%;
}
.header__sales .slick-active {
  background: #EB6345;
}

.header__sales .slick-dots li button {
  background: #EB6345;
}

.header__sales .slick-dots {
  bottom: -30px;
  left: 50%;
  transform: translate(-50%,-50%);
}
.categories__blocks {
  grid-gap: 15px;
}

.categories__title{
  text-align: center;
}



.delivery__inner {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 120px 20px;
  text-align: center;
}

.delivery__content {
  max-width: 640px;
}

.delivery__text {
  margin-bottom: 30px;
}

.consultation__bottoms {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delivery-wp{
  margin-left: 25px;
}

.delivery__chair{
  max-width: 100%;
}

.consultation__inner{
  flex-direction: column;
}

.consultation{
  padding: 120px 0;
}

.wp{
  margin-left: 25px;
}

.consultation__info {
  text-align: center;
  margin-bottom: 30px;
}

.footer__options{
  flex-direction: column;
  max-width: 325px;
}

.footer__options-content{
  max-width: 233px;
  margin-bottom: 60px;
}

.footer__block + .footer__block {
  margin-left: 0px;
}
}

@media(max-width:768px){
  .header__sales-block {
    height: 500px;
  }

  .categories__blocks {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: (350px)[6];
    grid-template-rows: repeat(3, 350px);
    grid-gap: 15px;
  }
  
  
  .categories__block:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
  }
  
  .categories__block:nth-child(2) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-column: 7/13;
  }
  
  .categories__block:nth-child(3) {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 1/13;
    grid-row: 2/3;
  }
  
  .categories__block:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  
  .categories__block:nth-child(5) {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 6/13;
    -ms-grid-row: 3;
    -ms-grid-row-span:1;
    grid-row: 3/4;
  }
  
  .categories__block:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    grid-row: 4/5;
  }
  
  .categories__block:nth-child(7) {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
    -ms-grid-row: 3;
    grid-row: 4/5;
  }
  
  .categories__block:nth-child(8) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    -ms-grid-row: 3;
    -ms-grid-row-span:1;
    grid-row: 3/4;
  }

  .guarantee__ways-title{
    margin-bottom: 15px;
  }

  .guarantee__ways{
    padding-left: 0;
  }
  .guarantee__ways-inner + .guarantee__ways-inner{
    margin-top: 15px;
  }


  .popup {

}
  .popup__inner {
    position: relative;
    padding: 80px 24px 80px 24px;
}


.close {
  position: absolute;
  right: 40px;
  top: 95px;
}


}

@media(max-width:600px){
  .consultation__bottoms{
    flex-direction: column;
  }

  .wp,
  .delivery-wp,
  .consultation-popup{
    width: 100%;
  }

  .wp{
    margin: 15px 0 0 0;
  }

  .delivery-wp{
    margin-left: 0;
    margin-top: 10px;
  }

  .consultation__title {
    font-size: 32px;
}


}



@media(max-width:520px){
.mobile__elements{
  display: none;
}

.sales-block__info {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sales__date {
  display: inline-block;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  padding: 6px 15px;
  margin-bottom: 15px;
}

.sales__title{
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  max-width: 400px;
  margin-bottom: 25px;
}

.sales__text{
  font-weight: 400;
font-size: 12px;
line-height: 16px;
  text-align: center;
}

.header__sales-block {
  height: 318px;
}

.sales-block__info { 
  padding: 30px 20px 0 20px;
}

.logo__link{
  max-width: 108px;
}
.logo__link img{
width: 100%;
}


.categories__blocks{
  display: flex;
  flex-direction: column;
}

.categories__block + .categories__block{
  margin-top: 15px;
}

.company {
  padding: 60px 0 255px 0;
}

.company__title {
  font-size: 26px;
  line-height: 27px;
  margin-bottom: 15px;
}

.statistic__num {
  font-size: 24px;
  line-height: 27px;
}

.statistic__text {
  font-size: 14px;
  line-height: 16px;
}

.consultation__text,
.company__text {
  font-size: 14px;
  line-height: 18px;
}

.consultation__text{
  margin-bottom: 15px;
}

.company__statistic {
  margin-bottom: 15px;
}

.delivery__about{
  font-size: 15px;
line-height: 20px;
margin-bottom: 15px;
}

.consultation__title,
.delivery__title{
  font-size: 24px;
line-height: 20px;
margin-bottom: 15px;
}

.delivery{
  margin-top: -180px;
  margin-bottom: 60px;
}
.consultation {
  padding: 60px 0;
}


.guarantee__ways-about {
  font-size: 20px;
}

}


@media(max-width:420px){
  .company__title {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 15px;
  }
  
  .statistic__num {
    font-size: 20px;
    line-height: 27px;
  }
  
  .statistic__text {
    font-size: 12px;
    line-height: 16px;
  }
  
  .company__statistic {
    margin-bottom: 15px;
  }
  
  .delivery__title{
    font-size: 15px;
  line-height: 20px;
  margin-bottom: 15px;
  }
  
  .delivery__text{
    font-size: 12px;
  line-height: 16px;
  margin-bottom: 15px;
  }

  .consultation__pic{
    max-width: 100%;
    padding-left: 20px;
  }



  .consultation__bottoms{
    display: inline-block;
    width: 100%;
  }

  .wp,
  .delivery-wp,
  .consultation-popup {
    font-size: 16px;
    line-height: 22px;
}

.delivery-wp{
  padding: 12px 5px;
}

.consultation-popup {
  padding: 12px 40px;
}

.delivery__inner{
  padding-bottom: 60px;
}

.company__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.wp{
  padding: 12px 0px;
}

.consultation__title{
  font-size: 20px;
line-height: 27px;
}

.consultation__text{
  font-size: 12px;
  line-height: 16px;
}

.guarantee__ways-title {
  font-size: 20px;
  line-height: 27px;
}

.guarantee__ways-about {
  font-size: 15px;
  line-height: 20px;
}

.guarantee__ways-text + .guarantee__ways-text {
  margin-top: 0px;
}

.guarantee__ways-about {
  margin-bottom: 10px;
}

.guarantee__ways-text {
  font-size: 12px;
  line-height: 16px;
}

.guarantee {
  margin-bottom: 60px;
}

.form__submit{
  max-width: 100%;
 width: 100%;
 font-size: 16px;
line-height: 22px;
}

.popup__text {
  font-size: 20px;
  line-height: 27px;
}

.ordering-form, .form__name, .form__phone {
  font-size: 15px;
  line-height: 20px;
}

}